@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --main-color: hsl(47, 88%, 63%);
    --secondary-color: hsl(0, 0%, 100%);
    --third-color: hsl(0, 0%, 7%);
    --fourth-color: hsl(0, 0%, 42%);
    --fifth-color: hsl(228, 45%, 44%);
    --shadow:  0.5rem 0.5rem 0.1rem hsl(0, 0%, 7%);
    --base-font-size: 1rem;
}

body {
    width: calc(375/16 * 1rem);
    max-width: 100vw;
    margin: 0 auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: var(--main-color);
    font-family: 'Figtree';
}

p {
    font-size: var(--base-font-size);
}

.preview-card {
    width: 80%;
    height: auto;
    padding: 5%;
    margin: 5rem auto;
    background-color: var(--secondary-color);
    border: 0.1rem solid var(--third-color);
    border-radius: 4%;
    box-shadow: var(--shadow);
}

.preview-img {
    width: 100%;
    border-radius: 4%;
}

.learning {
    background-color: var(--main-color) ;
    width: 25%;
    padding: 2%;
    text-align: center;
    border-radius: 8%;
}

.learning, .blog-title, .author-name {
    font-weight: 800;
    color: var(--third-color);
}

.summary{
    font-weight: 500;
    color: var(--fourth-color);
}

.published-date {
    font-weight: 500;
    color: var(--third-color);
}

article {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.author-avatar {
    width: 13%;
    height: 13%;
}


.preview-card:hover {
     transform: scale(1.08);
}

a:hover {
    color:var(--fourth-color);
    background-color: var(--secondary-color);
}

a:focus {
    color: var(--main-color);
    background-color:  var(--fifth-color);
}

.attribution { font-size: 0.7rem; text-align: center; }
.attribution a { color: var(--fifth-color); }