@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --main-color: hsl(47, 88%, 63%);
    --secondary-color: hsl(0, 0%, 100%);
    --third-color: hsl(0, 0%, 7%);
    --fourth-color: hsl(0, 0%, 42%);
    --fifth-color: hsl(228, 45%, 44%);
    --shadow:  0.5rem 0.5rem 0.1rem hsl(0, 0%, 7%);
}

body, html {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main-color);
    font-family: 'Figtree', sans-serif;
    font-size: 1.6rem;
}

main {
    width: clamp(32rem, 90%, 37.5rem);
    margin-block: calc(5rem + 13vh);
    margin-inline: auto;
}


.preview-card {
    width: calc(100% - 8rem);
    padding: calc(1rem + 1%);
    margin-block: calc(5rem + 1vh);
    margin-inline: auto;
    background-color: var(--secondary-color);
    border: 0.1rem solid var(--third-color);
    border-radius: calc(1rem + 1%);
    box-shadow: var(--shadow);
}

.preview-img {
    width: 100%;
    border-radius: 4%;
}

.learning {
    background-color: var(--main-color) ;
    width: calc(5rem + 10%);
    padding: calc(0.2rem + 0.5%);
    text-align: center;
    border-radius: calc(0.4rem + 1%);
}

.learning, .blog-title, .author-name {
    font-weight: 800;
    color: var(--third-color);
}

.summary{
    font-weight: 500;
    color: var(--fourth-color);
}

.published-date {
    font-weight: 500;
    color: var(--third-color);
}

article {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.author-avatar {
    width: calc(1rem + 8%);
    height: calc(1rem + 8%);
}



.preview-card:hover {
     transform: scale(1.08);
}

a:hover {
    color:var(--fourth-color);
    background-color: var(--secondary-color);
}

a:focus {
    color: var(--main-color);
    background-color:  var(--fifth-color);
}

.attribution { font-size: 1.1rem; text-align: center; }
.attribution a { color: var(--fifth-color); text-decoration: none; }